@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:opsz,wght@9..144,400;9..144,700;9..144,900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  list-style-type: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
  font-size: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.main-display {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navigation {
  text-align: center;
  position: relative;
}
.navigation__img--desktop {
  display: none;
}
.navigation__logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.navigation__nav-links.open {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 6rem;
  left: 0.1rem;
  background-color: hsl(0, 0%, 100%);
  min-width: 84%;
  height: 23rem;
  transform: translateX(8%);
  z-index: 1;
  -webkit-clip-path: polygon(0% 8%, 93% 8%, 100% 0.5%, 100% 100%, 0% 100%, 0% 50%);
          clip-path: polygon(0% 8%, 93% 8%, 100% 0.5%, 100% 100%, 0% 100%, 0% 50%);
  padding: 3rem 0;
}
.navigation__nav-links.close {
  display: none;
}
.navigation__nav-links {
  z-index: 100;
}
.navigation__nav-links--link {
  text-decoration: none;
  color: hsl(213, 9%, 39%);
  font-weight: 400;
  transition: all 300ms ease-in-out;
  padding: 0.5rem 1.5rem;
}
.navigation__nav-links--link:hover {
  background-color: hsl(51, 100%, 49%);
  font-weight: 600;
  border-radius: 2rem;
}
.navigation__hamburger {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}
.navigation__desktop {
  display: none;
}
.navigation__heading {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  line-height: normal;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.75rem;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.navigation__arrow {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
}

@media (min-width: 48rem) {
  .navigation__img--mobile {
    display: none;
  }
  .navigation__img--desktop {
    display: block;
  }
  .navigation__hamburger {
    display: none;
  }
  .navigation__nav-links.open {
    display: none;
  }
  .navigation__desktop {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .navigation__desktop--link {
    margin-left: 2rem;
    text-decoration: none;
    font-size: 1.35rem;
    color: hsl(0, 0%, 100%);
    padding: 0.5rem 0.85rem;
    transition: all 300ms ease-in-out;
  }
  .navigation__desktop--link:hover {
    font-weight: 900;
    background-color: hsl(0, 0%, 100%);
    color: hsl(212, 27%, 19%);
    border-radius: 2rem;
  }
  .navigation__heading {
    font-size: 2.5rem;
  }
}
.section-grid {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  place-items: center;
}
.section-grid__img.desktop {
  display: none;
}
.section-grid__description {
  padding: 3.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-grid__description--heading {
  font-family: "Fraunces", serif;
  font-weight: 900;
  line-height: normal;
}
.section-grid__description--para {
  font-size: 0.6925rem;
  line-height: 2;
}
.section-grid__description--link {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  text-decoration: none;
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
}
.section-grid__description--link.yellow {
  text-decoration-color: #fff3ad;
}
.section-grid__description--link.red {
  text-decoration-color: #ffbcb3;
}
.section-grid__figure {
  position: relative;
}
.section-grid__figure .abs {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.section-grid__figure .abs:nth-child(4).green {
  top: 80%;
  color: #25564b;
  width: 20rem;
  text-transform: capitalize;
}
.section-grid__figure .abs:nth-child(3).green {
  top: 70%;
  width: 20rem;
  color: #25564b;
}
.section-grid__figure .abs:nth-child(4).blue {
  top: 80%;
  color: hsl(198, 62%, 26%);
}
.section-grid__figure .abs:nth-child(3).blue {
  top: 70%;
  width: 15rem;
  color: hsl(198, 62%, 26%);
}

@media (min-width: 48rem) {
  .section-grid {
    grid-template-columns: 1fr 1fr;
  }
  .section-grid__img.mobile {
    display: none;
  }
  .section-grid__img.desktop {
    display: block;
  }
  .section-grid__figure .abs:nth-child(4).green {
    top: 74%;
    width: 22rem;
  }
  .section-grid__figure .abs:nth-child(3).green {
    top: 60%;
  }
  .section-grid__figure .abs:nth-child(4).blue {
    top: 74%;
    width: 22rem;
  }
  .section-grid__figure .abs:nth-child(3).blue {
    top: 60%;
  }
  .section-grid .grid-item.one {
    order: 2;
  }
  .section-grid .grid-item.two {
    order: 1;
  }
  .section-grid .grid-item.three {
    order: 3;
  }
  .section-grid .grid-item.four {
    order: 4;
  }
  .section-grid .grid-item.five {
    order: 5;
  }
  .section-grid .grid-item.six {
    order: 6;
  }
  .section-grid__description {
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
  }
  .section-grid__description--heading {
    font-size: 2.5rem;
  }
  .section-grid__description--para {
    font-size: 1rem;
  }
  .section-grid__description--link {
    font-size: 1.75rem;
  }
}
.section-client {
  text-align: center;
  padding: 3rem 2.5rem;
}
.section-client__header {
  font-family: "Fraunces", serif;
  color: hsl(210, 4%, 67%);
  font-size: 0.6925rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin-bottom: 0.25rem;
}
.section-client__testimonial {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.section-client__testimonial .article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 0;
}
.section-client__testimonial .article__img {
  border-radius: 50%;
  width: 5rem;
}
.section-client__testimonial .article__description {
  font-size: 0.825rem;
  color: hsl(212, 27%, 19%);
  font-weight: 600;
}
.section-client__testimonial .article__name {
  font-family: "Fraunces", serif;
  font-size: 1.35rem;
  font-weight: 900;
}
.section-client__testimonial .article__name .occupation {
  display: block;
  font-family: "Barlow", sans-serif;
  font-size: 0.6925rem;
  color: hsl(210, 4%, 67%);
  margin-top: 0.25rem;
}

@media (min-width: 48rem) {
  .section-client__header {
    margin-bottom: 1rem;
    font-size: 1.35rem;
  }
  .section-client__testimonial {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  .section-client__testimonial .article {
    gap: 2rem;
  }
  .section-client__testimonial .article__img {
    border-radius: 50%;
    width: 6rem;
  }
  .section-client__testimonial .article__description {
    font-size: 1rem;
  }
  .section-client__testimonial .article__name {
    font-size: 0.825rem;
  }
  .section-client__testimonial .article__name .occupation {
    font-size: 0.825rem;
    margin-top: 0.25rem;
  }
}
.section-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 48rem) {
  .section-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
.footer {
  background-color: #69b5a6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem 1.25rem;
}
.footer__links {
  font-size: 0.6925rem;
  text-transform: capitalize;
}
.footer__links--link {
  color: #25564b;
  text-decoration: none;
  margin-left: 4rem;
  transition: all 300ms ease-in-out;
}
.footer__links--link:first-of-type {
  margin-left: 0;
}
.footer__links--link:hover {
  font-weight: 600;
}
.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__socials img {
  margin-left: 2rem;
  width: 0.8rem;
  cursor: pointer;
}
.footer__socials img:first-of-type {
  margin-left: 0;
}

@media (min-width: 48rem) {
  .footer__links {
    font-size: 1rem;
  }
  .footer__socials img {
    width: 1.5rem;
  }
}/*# sourceMappingURL=styles.css.map */